@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
.wow { visibility: hidden; }

body { padding-top: 50px; }

.btn { box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.5); }

.jumbotron { color: #F7EACE; background: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px, #83B5B2 url(../img/noise.png); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.4); border-radius: none; margin: 0; }

.jumbotron h1 { font-family: 'Oleo Script', cursive; padding: 0; margin: 0; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75); }

#vika-nawigacja { background: #83B5B2 url(../img/noise.png); border: none; box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.5); margin: 0; }

#vika-nawigacja .navbar-brand { font-family: 'Oleo Script', cursive; font-size: 2.5em; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75); }

#vika-nawigacja a { color: #F7EACE; font-size: 1.2em; }

#vika-nawigacja .active > a { background: #63a29e url(../img/noise.png); }

#vika-nawigacja .navbar-collapse { border: none; box-shadow: none; }

#vika-nawigacja > div > div.navbar-header > button { background-image: url(../img/noise.png); background-color: #63a29e; border: none; box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.5); transition: all 0.3s ease; }

#vika-nawigacja > div > div.navbar-header > button:hover { background-color: #589390; }

#vika-nawigacja > div > div.navbar-header > button .icon-bar { background: #3b6461; }

#vika-logo img { display: none; width: 38px; margin: 0; padding: 0; vertical-align: middle; }

#vika-o-nas { background: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px, #DCD5C2 url(../img/noise.png); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 25px; padding-bottom: 25px; }

#vika-galeria { background: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px, #CECECE url(../img/noise.png); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 30px; }

#vika-galeria img { margin-bottom: 30px; position: relative; z-index: 2; }

#vika-galeria .shadow { position: relative; }

#vika-galeria .shadow:before, #vika-galeria .shadow:after { position: absolute; content: ""; bottom: 43px; left: 7px; width: 46%; top: 70%; max-width: 300px; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }

#vika-galeria .shadow:after { -webkit-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto; }

#slider { position: relative; width: 100%; overflow: hidden; }

#slider .item { position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 3s ease; width: 100%; }

#slider .item.active { position: relative; opacity: 1; }

#slider .item img { width: 100%; }

#slider .item .caption { position: absolute; right: 0; top: 0; margin: 20px; max-width: 300px; padding: 20px; color: #eee; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); background-color: rgba(0, 0, 0, 0.5); }

#vika-kontakt { background: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px, #DCD5C2 url(../img/noise.png); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 30px; border-top: 1px solid rgba(255, 255, 255, 0.5); }

#vika-kontakt legend { padding-bottom: 5px; border: none; background: url(../img/pasek.png) repeat-x 0 100%; }

#vika-kontakt input, #vika-kontakt .input-group-addon, #vika-kontakt textarea { border: 1px solid #888; }

#vika-kontakt .input-group-addon { border-right: none; background: #63a29e; color: #3b6461; }

#vika-kontakt button { background: #63a29e !important; border: none !important; transition: all 0.3s ease; }

#vika-kontakt button:hover { background: #589390 !important; }

#map-canvas { height: 300px; }

@media screen and (max-width: 768px) { #vika-galeria { padding-top: 20px; padding-bottom: 11px; }
  #vika-galeria .portfolio-item { padding-right: 5px; padding-left: 5px; }
  #vika-galeria .portfolio-item img { margin-bottom: 10px; }
  #vika-kontakt address { text-align: center; } }

@media screen and (min-width: 768px) { body { padding-top: 70px; }
  #vika-nawigacja .navbar-nav > li > a, #vika-nawigacja .navbar-brand { line-height: 50px; padding-top: 10px; padding-bottom: 10px; }
  .jumbotron { padding: 30px 0; }
  #map-canvas { height: 450px; } }
